.banner {
    padding: .1px;
    background-image: linear-gradient(43deg,#4158d0,#c850c0 46%,#ffcc70);
    filter: brightness(115%);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

nav {
    background-color: #1c1c1c;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 2rem;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

nav a:hover {
    font-weight: bold;
    color: var(--text-primary);
    filter: brightness(110%);
}