nav {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 2rem;
}

nav .logo h1 {
    font-weight: bolder;
    font-size: 30px;
    margin-top: .4rem;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    font-weight: bold;
    color: var(--secondary);
}

nav a:hover {
    font-weight: bold;
    color: var(--primary);
    filter: brightness(110%);
}

nav .menu-toggle {
    display: none;
    position: relative;
    height: 20px;
}

nav .menu-toggle input {
    position: absolute;
    width: 2.4rem;
    left: -4px;
    height: 2.6rem;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

nav .menu-toggle span {
    display: block;
    width: 36px;
    height: 4px;
    border-radius: 3px;
    margin-top: 8px;
    transition: all 0.5s;
}

nav .menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}
nav .menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}
nav .menu-toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg);
    background-color: var(--primary);
}
nav .menu-toggle input:checked ~ span:nth-child(3){
    transform: scale(0);
    opacity: 0;
}
nav .menu-toggle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg);
    background-color: var(--primary);
}
nav .menu-toggle input:checked {
    background-color: red;
    color: red;
}


@media screen and (max-width: 1000px) {
    body {
        /* overflow-y: hidden; */
    }
    /* Navbar */
    nav .menu-toggle {
        display: block;
        z-index: 2;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100vh;
        background-color: white;
        margin-top: 0;
        z-index: 1;
        opacity: 0;
        transition: all .5s;
    }
    nav .menu-toggle span {
        background-color: black;
    }
    nav ul li {
        margin-bottom: 3rem;
    }
    nav ul.slide {
        opacity: 1;
    }
    nav .menu-toggle.slide {
        position: fixed;
        right: 2.2rem;
    }
}