@media screen and (max-width: 768px) {
    /* Contact */
    #contact .input-group {
        margin-left: auto;
    }
    #contact .input-group input {
        width: 100%;
    }
    #contact .input-group textarea {
        width: 100%;
    }
    #contact button {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    /* Aside */
    #content,
    aside {
        width: 100%;
    }
    .profile img {
        width: 60%;
    }
    /* Portfolio */
    #portfolio .wrapper img {
        width: 50%;
        height: auto;
    }
    /* Navbar */
    /* nav .menu-toggle {
        display: block;
    } */
}

@media screen and (max-width: 1336px) {
    /* Portfolio */
    #portfolio .wrapper {
        flex-direction: column;
    }
    #portfolio .wrapper .card-porto {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
}